.title {
  .text {
    font-family: PingFang SC;
    font-size: 17px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
  }
  .hash {
    font-family: PingFang SC;
    font-size: 16px;
    font-weight: 400;
  }
}
