.title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}
.file-type {
  font-family: PingFang SC;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}
.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  .label {
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    margin-top: 10px;
  }
}
